@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body{
    background-color: #000;
}
.main-footer{
    padding: 150px 0 0 ;
    background: linear-gradient(-20deg, #3f5494,#08c7a5);
}
.main-footer .container{
    display: flex;
    width: 1200px;
    margin: auto;
}
.footer-item{ /*指定每欄的寬度，用flex的特性=>像清單陳列的樣子*/
    width: 0;
    flex-grow: 1;
    margin: 0 20px;
}
.footer-item nav{
    display: flex; /*先在同行排列*/
    flex-direction: column; /*再用垂直排列*/

}
.footer-item nav a{
    color: #fff;
    line-height: 1.4;
    text-decoration: none;
    padding: 5px 0;
}
.footer-item nav a:hover{
    color: #fa0;
}
.footer-item h4{
    font-size: 24px;
    color: #fff;
    border-bottom: 1px dotted #fff;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
.footer-subs{
    display: flex;
    flex-direction: column;
}
.footer-subs form{
    display: flex;
    width: 100%;
    margin: auto 0;
}
.footer-subs input[type="text"],
.footer-subs input[type="submit"]{
    border: none;
    padding: 5px 10px;
}
.footer-subs input[type="text"]{
    width: 0; 
    flex-grow: 1;
}
.footer-subs input[type="submit"]{
    color: #70f6df;
    background-color: #3e5293;
}
.copyright{
    width: 100%;
    text-align: center;
    margin: 150px 0 0;
    padding: 10px 0;
    background-color: #3e5293;
    color: #70f6df;
}