.newInfo{
	clear: both; /*清除float浮板的功能，讓下方元素完全跑不上來*/
	padding: 2%; /*div盒子與內容物上下左右距離2%*/
}

.newImg{
	float: left; /*此內容應沿著盒子的左右放置*/
	width: 250px;
}

.newImg img{
	width: 100%; /*盒內的圖是滿版符合盒子大小*/
}

.newContent{
	float: left;
	height: 170px;
	width: 75%;
	margin-left: 2%;
	text-overflow: ellipsis; /*提示使用者存在隐藏的溢出内容:用...提示*/
	overflow: hidden; /*設置了元素超出盒子時所需要的行為:隱藏*/
}

.newContent span{
	font-weight: bold; /*字體的粗細程度*/
	font-size: 20px; /*字體的大小*/
}