
.form-row{
	margin-left: 40%;
	padding: 2px;
}

.col-md-4{
	width: 100%;
}

.row{
	clear: both;
	width: 100%;
}

.imgArea{
	width: 23%;
	float: left;
	padding: 2em;
}

.imgArea img{
	width: 100%;
}

.btn{
	border: 0;
	background-color: #04AA6D;
	color: #fff;
	border-radius: 5px;
	width: 100px;
}