{% extends "BasePage.html" %}


{% block TitleName %}
關於我們
{% endblock %}

{% block AdArea %}
<div id="ad">
	<!-- <img src="https://www.lccnet.com.tw/lccnet/Upload/Article/news-2253.jpg" /> -->
	
</div>
{% endblock %}


{% block Context %}

<h2>關於我們</h2>
<div class="wrap">
    <div class="about-item">
        <div class="txt">
            <p>永和豆漿是一間的傳統中式早餐店，迄今為止提供早點和手工現磨的豆漿米漿已有30餘年。我們志在以非基改的食材製成食物，不添加防腐劑，目的是要大家吃得健康又安心。

            </p>
            <p>與現代西式連鎖的早餐店相比，本店更注重食材製成的一條龍流程。從備料到烹飪成熟食皆在本店內製成，因此可以創造本店獨有的風味和不同的餐點組合。</p>

            <p>本店提供的餐點包含了豆漿米漿、燒餅油條、飯糰、饅頭包子、鹹甜酥餅、蘿蔔糕蛋餅等不同組合的煎物。</p>
            

        </div>
        <div class="pic">
            <img src="/static/images/about1.jpg" alt="">
            <img src="/static/images/about2.jpg" alt="">
        </div>
    </div>


</div>
{% endblock %}



