<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <title>永和豆漿--手作的美味</title> -->
	<title>{% block TitleName %}{% endblock %}</title>
	<!--
		通常會在這個區域放入： css 檔、javascript 、google-AD,SEO(FB,Google)
	-->
	<link href="/static/css/reset.css" rel="stylesheet">
	<link href="/static/css/index2.css" rel="stylesheet">
	<!-- <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"> -->
	<link rel="shortcut icon" href="/static/images/logo2.png" type="image/x-icon">

	
	<!-- 自定義CSS -->
	{% block css %}
	{% endblock %}

	<!-- 自定義JS -->	
	{% block js %}
	{% endblock %}

</head>
<body>

	<input type="checkbox" name="" id="menu_control">

	<div class="header">
		
		<h1 class="logo">
			<a href="/" name="logo"><img src="/static/images/logo1.png"></a>
		</h1>
		<!-- 漢堡選單(手機) -->
		<label for="menu_control" class="menu_btn"> <!-- 透過label在遠端對checkbox操作 -->
			<span>選單</span> <!-- 放文字用 -->
		</label>
		<nav>
			<a href="/">關於我們</a>
			<a href="/news">最新消息</a>
			<a href="/product">產品介紹</a>
			<a href="/notice">注意事項</a>
			<a href="/contact">聯絡我們</a>
			
			{% if request.session.yhm == 'good' %}

			
				<a href="/changepassword">會員管理</a>
				<a href="/myorder">我的訂單</a>
				<a href="/cart">購物車</a>
				<a href="/photos">圖片區</a>
				<a href="/logout">登出</a>

			{% else %}

				<a href="/login">登入</a>

			{% endif %}
		</nav>
		
	</div>
		
		<!-- <div id="wrapper"> -->
	<div class="wrap">
		<div class="content">

			{% block AdArea %}
			{% endblock %}
			
				
			{% block Context %}
			{% endblock %}

			
		</div>
	</div>

	<div class="footer">
		<span>&copy; copyright 2023 by 北峰永和豆漿</span>
	</div>


	<div class="up-btn">
		<a href="#logo"><img src="/static/images/arrow-right.png" alt=""></a>
	</div>

	<!-- </div> -->

</body>
</html>