{% extends "BasePage.html" %}

{% block TitleName %}
訂單明細
{% endblock %}

{% block css %}
 <link rel='stylesheet' href='/static/css/cart.css' />
{% endblock %}


{% block Context %}

{% if nosearch == 1 %}

    <div class="wrap">
        <form action="/cartordercheck" method="get">
            <h2>訂單查詢</h2>
            <table>
                <tr>
                    <td>訂單編號</td>
                    <td><input type="text" name="orderid" required /></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="customemail" required /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="back-btn">
                            <input type="submit" value="查詢">
                            <a href="/myorder"><input type="button" value="返回"></a>
                        </div>
                    </td>
                </tr>

            </table>
        </form>
    </div>

{% elif notfound == 1 %}
    <h3>找不到您的訂單資料，請重新查詢，或是聯繫客服0800123123</h3>
    <h2>訂單查詢</h2>
    <div class="wrap check-wrap">
        

        <form action="/cartordercheck" method="get">
            
            <table>
                <tr>
                    <td>訂單編號</td>
                    <td><input type="text" name="orderid" required /></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="customemail" required /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="查詢"></td>
                </tr>
            </table>
        </form>
        
    </div>
    <div class="wrap back-btn">
        <a href="/myorder"><input type="button" value="返回"></a>
    </div>

{% else %}
    <h2>訂單資料</h2>
    <div class="wrap check-wrap">
        
        <!-- <p>訂單編號：{{ orderid }}</p> -->

        <table>
            <caption class>訂單編號：<font style="color:#E85231;">{{ orderid }}</font></caption>
            <tr>
                <th>商品名稱</th>
                <th>單價</th>
                <th>數量</th>
                <th>金額</th>
            </tr>

        {% for unit in details %}

            <tr>
                <td>{{ unit.pname }}</td>
                <td>$ {{ unit.unitprice }}</td>
                <td>{{ unit.quantity }}</td>
                <td>$ {{ unit.dtotal }}</td>
            </tr>
        

    {% endfor %}
    
            <tr>
                <td colspan="3"><strong>小計</strong></td>
                <td><strong>$ {{ order.subtotal }}</strong></td>
            </tr>
            <tr>
                <td colspan="3"><strong>運費</strong></td>
                <td><strong>$ {{ order.shipping }}</strong></td>
            </tr>
            <tr>
                <td colspan="3"><strong>總計</strong></td>
                <td><strong><font style="color:#E85231;">$ {{ order.grandtotal }}</font></strong></td>
            </tr>
    
        </table>
    
        <!-- <hr /> -->
    
        <!-- <p class="subject">訂單客戶資料</p> -->
        <table>
            <caption class>訂單客戶資料</caption>
            <tr>
                <th>姓名</th>
                <td>{{ order.customname }}</td>
            </tr>
            <tr>
                <th>電話</th>
                <td>{{ order.customphone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ order.customemail }}</td>
            </tr>
            <tr>
                <th>地址</th>
                <td>{{ order.customaddress }}</td>
            </tr>
            <tr>
                <th>付款方式</th>
                <td>{{ order.paytype }}</td>
            </tr>

        </table>
    </div>
    <div class="wrap back-btn">
        <a href="/myorder"><input type="button" value="返回"></a>
    </div>
    {% endif %}

<!-- </div> -->

{% endblock %}