{% extends "BasePage.html" %}

{% block TitleName %}
密碼變更
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/contact.css" />
{% endblock %}


{% block Context %}

<div id="contact">
	
	<h2>密碼變更</h2>
	<span style="color: #00ff00;">{{ msg }}</span>

	<form class="contact_form" action="" method="post">
		{% csrf_token %}

		<div class="form-group">
			<label>舊密碼</label>
			<input type="password" name="oldpwd" class="form-control" required />
		</div>

		<div class="form-group">
			<label>新密碼</label>
			<input type="password" name="newpwd" class="form-control" required />
		</div>

		<div class="form-group">
			<button type="submit" class="btn_submit">變更</button>
		</div>
	</form>

</div>

{% endblock %}