{% extends "BasePage.html" %}


{% block TitleName %}
永和豆漿首頁
{% endblock %}

{% block AdArea %}
<div id="ad">
	<!-- <img src="https://www.lccnet.com.tw/lccnet/Upload/Article/news-2253.jpg" /> -->
	
</div>
{% endblock %}


{% block Context %}

<h2>最新消息列表</h2>
<div class="wrap border">
	{% for row in data %}
		<div class="index-item">
			<div class="pic">
				<img src="{{row.photo_url}}">
			</div>
			<div class="txt">
				<span>{{row.title}}</span>
			</div>
		</div>
	{% endfor %}
</div>


<h2>美食推薦</h2>
<div class="wrap">
	{% for row in product %}
		<div class="index-item">
			<div class="pic">
				<img src="{{row.photo_url}}">
			</div>
			<div class="txt">
				<span>{{row.name}}</span>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}



