{% extends "BasePage.html" %}

{% block TitleName %}
聯絡我們-問題反應
{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/contact2.css">
<style>
.form-group:last-child{
	display: flex;	
	flex-grow: 1;
}
.form-group:last-child button{
	width: 50%;
}
.form-group:last-child a{
	width: 50%;
	text-decoration: none;	
	margin: 0.5em;
	padding: 0.5em 0;	
	border-radius: 10px;
	text-align: center;
	line-height: 1.5;
}
</style>
{% endblock %}


{% block Context %}
<h2>會員登入</h2>
<div class="wrap">
	
	<span style="color: #ff0000;">{{ msg }}</span>

	<form class="contact_form" action="" method="post">
		{% csrf_token %}

		<div class="form-group">
			<label>帳號</label>
			<input type="email" name="email" class="form-control" required />
		</div>

		<div class="form-group">
			<label>密碼</label>
			<input type="password" name="password" class="form-control" required />
		</div>

		<div class="form-group">
			<button type="submit" class="btn_submit">登入</button>
			<a href="/register/">註冊</a>
		</div>
	</form>



</div>
{% endblock %}