{% extends "BasePage.html" %}

{% block TitleName %}
聯絡我們-問題反應
{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/contact2.css">
<style>
.form-group:last-child{
	display: flex;	
	flex-direction: row;
}
.form-group .btn_submit{
	width: 50%;
}
.form-group .btn_register{
	width: 50%;
}

/* .form-group:last-child a{
	width: 50%;
	text-decoration: none;	
	margin: 0.5em;
	padding: 0.5em 0;	
	border-radius: 10px;
	text-align: center;
	line-height: 1.5;
} */
</style>
{% endblock %}


{% block Context %}
<h2>會員登入</h2>
<h3>{{ msg }}</h3>
<div class="wrap">
	
	

	<form class="contact_form" action="" method="post">
		{% csrf_token %}

		<div class="form-group">
			<label for="userid">帳號</label>
			<input type="email" name="email" class="form-control" id="userid" required />
		</div>

		<div class="form-group">
			<label for="password">密碼</label>
			<input type="password" name="password" class="form-control" id="password" required />
		</div>

		<div class="form-group">
			<button type="submit" class="btn_submit" >登入</button>
			<button class="btn_register"><a href="/register/">註冊</a></button>
		</div>
	</form>



</div>
{% endblock %}