{% extends "BasePage.html" %}

{% block TitleName %}
我的訂單紀錄
{% endblock %}

{% block css %}
 <link rel='stylesheet' href='/static/css/cart.css' />
{% endblock %}


{% block Context %}

<!-- <div style="margin-top: 50px;"></div> -->
<h2>我的訂單紀錄</h2>
<div class="wrap">
    <table>
        <thead>
            <tr>
                <th scope="col">訂單編號</th>
                <th scope="col">訂單日期</th>
                <th scope="col">付款金額</th>
                <th scope="col">付款方式</th>
            </tr>
        </thead>

        <tbody>
            {% for unit in order %}

            <tr>
                <td>
                    <a href="/cartordercheck/?orderid={{unit.id}}&customemail={{request.session.memMail}}">{{ unit.id}}</a>
                </td>
                <td>{{unit.create_date}}</td>
                <td>{{unit.grandtotal}} 元</td>

                {% if unit.paytype == 'ATM轉帳' %}

                <td>
                    <a href="/reportBank/?orderid={{unit.id}}&customemail={{request.session.memMail}}">{{unit.paytype}}</a>
                </td>

                {% else %}

                <td>{{unit.paytype}}</td>

                {% endif %}
            </tr>

            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock%}