{% extends "BasePage.html" %}


<!-- 標題 -->
{% block TitleName %}
最新消息
{% endblock %}


<!-- CSS -->
{% block css%}
<link rel="stylesheet" type="text/css" href="../static/css/news2.css">
{% endblock %}


<!-- 內容 -->
{% block Context%}
	
<h2>最新消息</h2>
<!-- 顯示news的資料，從news函式中傳遞的，用物件屬性方式取值 -->
<div class="wrap">
	{% for news in news_list %}

		<div class="item">
			<div class="pic">
				<img src="{{news.photo_url}}" />
			</div>
			<div class="txt">
				<h3>{{news.title}}</h3>
				<p>{{news.content}}</p>
				<a href="" class="btn">more</a>
				<!-- <button href="" class="btn">more</button> -->
			</div>


		</div>

	{% endfor %}
</div>

{% endblock%}