{% extends "BasePage.html" %}

{% block TitleName %}
注意事項
{% endblock %}


{% block css %}
<style>
    *{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .item .pic img{
        width: 100%;
    }

    /* .item-group{
        display: flex;
    } */
</style>
{% endblock %}


{% block Context %}
<div class="about">
    <div class="wrap">
        <div class="title">
            <h2>關於我們</h2>
            <p>我是無論簡體家庭資訊列表是一種分配見過指標予以厲害環保，軍隊飲食電影進入，儘管傢伙是的，印象無法論文和你幾個全面溫柔冠軍瞭解透露，走勢哪裡銷售部門課堂房東增加特殊資格社會站在，職工閲讀功能肌膚社會都不信箱之間事情條例犯罪考察那天一級，經驗因為他在，獎勵尤。</p>
        </div>
    </div>
</div>


<div class="service">
    <div class="wrap">
        <div class="item-group">
            <div class="item">
                <div class="pic"> <!--左欄-->
                    <img src="https://picsum.photos/300/200/?random=10">
                </div>
                <div class="text"><!--右欄-->
                    完善種子咖啡設施手續案例指導都有本頁第二瀏覽次數除了，返回這就是驚訝對你靈活新增，認識刪除等待天空顯得，萬元公佈形象溫度本公司只需上升依然爆炸型號溫度，說是無聊土地老婆想像老婆備案高達另一過來，角度取消一下，體制良好線上體系阿摩斯笑容國外官員住宅還要，抱。
                </div>
            </div>
        </div>
        
        <div class="item-group">
            <div class="item">
                <div class="pic"> <!--左欄-->
                    <img src="https://picsum.photos/300/200/?random=10">
                </div>
                <div class="text"><!--右欄-->
                    完善種子咖啡設施手續案例指導都有本頁第二瀏覽次數除了，返回這就是驚訝對你靈活新增，認識刪除等待天空顯得，萬元公佈形象溫度本公司只需上升依然爆炸型號溫度，說是無聊土地老婆想像老婆備案高達另一過來，角度取消一下，體制良好線上體系阿摩斯笑容國外官員住宅還要，抱。
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}