{% extends "BasePage.html" %}

{% block TitleName %}
圖片上傳區
{% endblock %}

{% block css %}
 <link rel='stylesheet' href='/static/css/photos2.css' />
{% endblock %}


{% block Context %}

<h2>圖片區</h2>
<!-- 
在表單中若要上傳檔案，一定要在form
表單中的屬性加上：enctype="multipart/form-data"
才可以上傳檔案，不然會fail 
-->
<div class="wrap">
	<div class="form">
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
			{{ form.image }} <!-- 網頁上會跳出"選擇檔案"的按鈕 -->
			<input type="submit" class="btn btn-primary" value="上傳">		
	</form>
	</div>
</div>

<div class="wrap">
	<!-- 用迴圈，把資料庫的內容抓出來秀 -->
	<div class="item-group">
		{% for photo in photos %}
			{% if photo.image %}
			<div class="item">
				<div class="pic">
					<img src="{{photo.image.url}}" class="img-top" />
				</div>
				<div class="txt">
					<h4>{{photo.image}}</h4>
					<p>{{photo.upload_date}}</p>
				</div>
			</div>
				
			{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}