{% extends "BasePage.html" %}

{% block TitleName %}
圖片上傳區
{% endblock %}

{% block css %}
 <link rel='stylesheet' href='/static/css/photos2.css' />
{% endblock %}


{% block Context %}

<h2>圖片區</h2>
<!-- 
在表單中若要上傳檔案，一定要在form
表單中的屬性加上：enctype="multipart/form-data"
才可以上傳檔案，不然會fail 
-->

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}

	<!-- 崁進 選擇照片 按鈕 -->
	<div class="form-row">
		<div class="form-group col-md-4"></div>
		<div class="form-group col-md-4">
			{{ form.image }} <!-- 網頁上會跳出"選擇檔案"的按鈕 -->
		</div>
		<div class="form-group col-md-4"></div>
	</div>

	<!-- 上傳照片 -->
	<div class="form-row">
		<div class="form-group col-md-4"></div>
		<div class="form-group col-md-4">
			<input type="submit" class="btn btn-primary" value="上傳">
		</div>
		<div class="form-group col-md-4"></div>
	</div>
</form>


<!-- 用迴圈，把資料庫的內容抓出來秀 -->
<div class="row">
	{% for photo in photos %}
		{% if photo.image %}

			<div class="col-md-4">
				<div class="imgArea">
					<img src="{{photo.image.url}}" class="img-top" />
				</div>
			</div>

		{% endif %}
	{% endfor %}
</div>


{% endblock %}