{% extends "BasePage.html" %}

{% block TitleName %}
菜單
{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/product2.css" />
{% endblock %}


{% block Context %}
<h2>產品介紹</h2>
<div class="wrap">
	<form action="" method="get">
		關鍵字查詢：<input type="text" name="qgoods" placeholder="請輸入餐點名稱"/>
		<div class="group">
			價格範圍：<input type="text" name="startp" /> ～ <input type="text" name="endp" />
		</div>
		<input type="submit" value="查詢"/>
	</form>
</div>

<!-- 商品內容 -->
<div class="wrap">
	<!-- 載入product/view.py函式中的data資料 -->
	{% for row in data %}
		<div class="item">
			<div class="pic">
				<img src="{{row.photo_url}}">
			</div>
			<div class="txt">
				<p>{{row.name}}</p>
				<span>NT:${{row.price}}</span>
				<br />
				<!-- 導到加入購物車的頁面(加入功能)、傳送id(主鍵) -->
				<a href="/addtocart/add/{{row.id}}/">加入購物車</a> 
			</div>
		</div>
	{% endfor %}


</div>


<!-- 分頁 -->
<div class="page">
	{% if data.has_previous %} <!-- 如果可以往前/上一頁 -->
		<a href="?page={{data.previous_page_number}}&qtravel={{travelkey}}&startp={{startprice}}&endp={{endprice}}">上一頁</a>

	{% endif %}

	{% if data.has_next %} <!-- 如果可以往後/下一頁 -->

		<a href="?page={{data.next_page_number}}&qtravel={{travelkey}}&startp={{startprice}}&endp={{endprice}}">下一頁</a>

	{% endif %}

</div>

{% endblock %}