{% extends "BasePage.html" %}

{% block TitleName %}
會員註冊
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/contact2.css" />
<style>


</style>
{% endblock %}

{% block js %}

<script>
	function checkPassword(){
		var p = document.getElementByName('uPassword')[0].value;
		var p2 = document.getElementByName('repwd')[0].value;
		if (p == p2){
			return true;
		} else{
			alert('密碼配對有誤，請重新輸入！');
			return false;
		}
	}
</script>

{% endblock %}


{% block Context %}
<h2>會員註冊</h2>
<div class="wrap">
	
	<!-- 此處會回傳後台註冊會員的結果狀態 -->
	<span>{{ msg }}</span>

	<!-- onsubmit 送出時多一層檢查:送出時是否有匹配成功 -->
	<form class="contact_form" action="" method="post" onsubmit="return checkPassword()">
		
		{% csrf_token %}

		<div class="form-group">
			<label for="uName">姓名</label>
			<input type='text' name="uName" class="form-control" id="uName" required/>
		</div>

		<div class="form-group">
			<label for="uEmail">Email</label>
			<input type='email' name="uEmail" class="form-control" id="uEmail" required/>
		</div>

		<div class="form-group">
			<label for="uPassword">密碼</label>
			<input type='password' name="uPassword" class="form-control" id="uPassword" required/>
		</div>

		<div class="form-group">
			<label for="repwd">確認密碼</label>
			<input type='password' name="repwd" class="form-control" id="repwd" required/>
		</div>

		<div class="form-group test">
			<div class="test2">
			<label>性別</label>
			<!-- 單選，預設選項為女生 -->
			<div>
				<input type='radio' name="uSex" value="F" checked />女生
				<input type='radio' name="uSex" value="M" />男生
			</div>
			</div>
		</div>

		<div class="form-group">
			<label for="uBir">生日</label>
			<input type='date' name="uBir" class="form-control" id="uBir" required/>
			<!-- <input type='date' name="uBir" class="form-control" id="" required/> -->
		</div>

		<div class="form-group">
			<label for="uAddr">地址</label>
			<input type='text' name="uAddr" class="form-control" id="uAddr" required/>
		</div>

		<div class="form-group">
			<label for="uTel">行動電話</label>
			<input type='text' name="uTel" class="form-control" id="uTel" required/>
		</div>

		<div class="form-group">
			<button type="submit" class="btn_submit">註冊</button>
		</div>

	</form>

</div>

{% endblock %}